{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
{% endblock %}

{% block content %}
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<form action = "http://localhost:8000/add_selection" method="post" target="dummyframe">
    <p>Enter Pick:</p>
    <p>Your team name: <input type = "text" name = "team_name" /></p>
    <p>Player name: <input type = "text" name = "player_name" /></p>
    <p><input type = "submit" value = "submit" /></p>

</form>     

<form action = "http://localhost:8000/draft" method="get">
    <p><input type="submit" value="View Draft" /></p>
</form>     

{% endblock %}

