<!-- This is really turning into the page to make picks. -->>

{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
{% endblock %}

{% block content %}
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>


<form action = "http://localhost:8000/add_selection" method="post" target="dummyframe">
    <p>Enter Pick:</p>
    <p>Your team name: <input type = "text" name = "team_name" /></p>
    <p>Player name: <input type = "text" name = "player_name" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>     

Available Players
<table class="table">
    <thead>
        <tr>
            <th scope="col">ADP</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Team</th>
            <th scope="col">Position</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <form action="/selected_row" method="post">
            <tr>
                <th scope="row">{{ player.player_id }}</th>
                <td>{{ player.player_name_first }}</td>
                <td>{{ player.player_name_last }}</td>
                <td>{{ player.college_team }}</td>
                <td>{{ player.position }}</td>
                <td>
                        <input type="text" name="player_id" value={{ player.player_id }} readonly=true />
                        <button type="submit">Draft</button>
                </td>
            </tr>
            </form>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
