<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <title>{% block title %} {% endblock %} - DraftDraft</title> -->
        <title>DraftDraft</title>
        <!-- probably dont care about this
            <style>
nav a {
    color: #d64161;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}
            </style>
            -->
            <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/draft.css') }}"> -->
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
            {% block stylesheet %} {% endblock %}

    </head>
    <body>     
        <section class="hero is-primary is-fullheight">
            <!-- styling is terrible, but making it work for now -->
            <nav class="navbar" style="justify_content: space-between; display: flex">
                <div class="navbar-start">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('draft.home') }}" class="navbar-item">
                        {{ current_user.username }}
                    </a>
                    {% endif %}
                </div>
                <div class="navbar-end" style="position: absolute; right: 0">
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Logout
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                </div>
            </nav>
            <div class="content">
                The Draft
                {% block content %} {% endblock %}
            </div>
        </section>
    </body>
</html>
