{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/draft.css') }}">
{% endblock %}

{% block content %}
        <table class='draft_table'>
            <tr>
                <th>Pick</th>
                <th>Team</th>
                <th>Player</th>
            </tr>

            Picks
            {% for selection in selections %}
            <tr style="padding: 10px; background-color: #EEE; margin: 20px">
                <td>{{ selection.draft_draft_selection }}</td>
                <td>{{ selection.team_name }}</td>
                <td>{{ selection.player_name }}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}
