alembic==1.9.1
click==8.1.3
-e git+ssh://git@github.com/ajpodell/draftdraft.git@2fd0e6bc5a74d0fa876ea5ed77482f0bd326bf80#egg=draftdraft&subdirectory=server
Flask==2.2.2
Flask-Login==0.6.2
Flask-Migrate==4.0.1
Flask-SQLAlchemy==3.0.2
greenlet==1.1.3
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.1
msgpack==1.0.4
neovim==0.3.1
psycopg2-binary==2.9.5
pynvim==0.4.3
SQLAlchemy==1.4.46
Werkzeug==2.2.2
