<!-- This is really turning into the page to make picks. -->

{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
    <!-- add filtering stylesheet -->
    <link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ errors[0] }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- only show this if admin -->
{% if current_user.is_admin %}
<form action = "/reset_draft" method="post">
    <button type="submit">Reset DraftDraft</button>
</form>
{% endif %}

Draft Order
<h1>Next Pick: {% if next_pick %}{{ next_pick.team_name }}{% else %}Draft order not set{% endif %}</h1>
<table class="table">
    <tr>
        <th>Pick</th>
        <th>Team</th>
    </tr>
    {% for pick in pick_order %}

    <tr class={{ "table-primary" if pick.pick_order == next_pick.pick_order}}>
        <td>{{ pick.pick_order }}</td>
        <td>{{ pick.team.team_name }}</td>
    </tr>
    {% endfor %}
</table>

Available Players
<table class="table"
    id="player_table"
    data-filter-control="true"
    data-show-search-clear-button="false"
    data-show-columns="true"
    data-show-multi-sort="true"
>
    <thead>
        <tr>
            <th data-field="adp" data-sortable="true" scope="col">ADP</th>
            <th data-field="first" data-filter-control="input" data-sortable="true" scope="col">First</th>
            <th data-field="last" data-filter-control="input" data-sortable="true" scope="col">Last</th>
            <th data-field="team" data-filter-control="input" data-sortable="true" scope="col">Team</th>
            <th data-field="position" data-filter-control="select" data-sortable="true" scope="col">Position</th>
            <th data-field="draft_btn" scope="col"></th>
            <th data-field="nfl_pick" scope="col">NFL Pick</th>  <!-- tbd if we want this optional or on another page -->
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <tr>
                <th scope="row">{{ player.player_id }}</th>
                <td>{{ player.player_name_first }}</td>
                <td>{{ player.player_name_last }}</td>
                <td>{{ player.college_team }}</td>
                <td>{{ player.position }}</td>
                <td>
                    <form action="/draft_player" method="post">
                        <input type="text" name="player_id" value={{ player.player_id }} readonly=true class="hidden-value"/>
                        <button type="submit">Draft</button>
                    </form>
                </td>
                <td>
                    <form action="/score_player" method="post">
                        <input type="number" name="nfl_draft_pick" value={{ player.nfl_draft_pick or "" }}></input>
                        <input name="player_id" value={{player.player_id}} class="hidden-value"/>
                        <button type="submit">Score</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
  $(function() {
    $('#player_table').bootstrapTable()
  })
</script>
{% endblock %}
