<!-- This is really turning into the page to make picks. -->

{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
{% endblock %}

{% block content %}
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>


<!-- This was an early field to manually enter a pick - can probably just delete this
<form action = "http://localhost:8000/add_selection" method="post" target="dummyframe">
    <p>Enter Pick:</p>
    <p>Your team name: <input type = "text" name = "team_name" /></p>
    <p>Player name: <input type = "text" name = "player_name" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>     
-->

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ errors[0] }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- only show this if admin -->
{% if current_user.is_admin %}
<form action = "/reset_draft" method="post">
    <button type="submit">Reset DraftDraft</button>
</form>
{% endif %}

Draft Order
<h1>Next Pick: {% if next_pick %}{{ next_pick.team_name }}{% else %}Draft order not set{% endif %}</h1>
<table class="table">
    <tr>
        <th>Pick</th>
        <th>Team</th>
    </tr>
    {% for pick in pick_order %}

    <tr class={{ "table-primary" if pick.pick_order == next_pick.pick_order}}>
        <td>{{ pick.pick_order }}</td>
        <td>{{ pick.team.team_name }}</td>
    </tr>
    {% endfor %}
</table>

Available Players
<table class="table">
    <thead>
        <tr>
            <th scope="col">ADP</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Team</th>
            <th scope="col">Position</th>
            <th scope="col"></th>
            <th scope="col">NFL Pick</th>  <!-- tbd if we want this optional or on another page -->
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <tr>
                <th scope="row">{{ player.player_id }}</th>
                <td>{{ player.player_name_first }}</td>
                <td>{{ player.player_name_last }}</td>
                <td>{{ player.college_team }}</td>
                <td>{{ player.position }}</td>
                <td>
                    <form action="/draft_player" method="post">
                        <input type="text" name="player_id" value={{ player.player_id }} readonly=true class="hidden-value"/>
                        <button type="submit">Draft</button>
                    </form>
                </td>
                <td>
                    <form action="/score_player" method="post">
                        <input type="number" name="nfl_draft_pick" value={{ player.nfl_draft_pick }}></input>
                        <input name="player_id" value={{player.player_id}} class="hidden-value"/>
                        <button type="submit">Score</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
