<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  <!-- from the bootstrap docs> -->

        {% block title %} {% endblock %}
        <title>DraftDraft</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


        {% block stylesheet %} {% endblock %}

        <!-- this is jquery. tbd if its needed -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!-- script for filtering table.-->
        <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
    </head>
    <body class=text-center>     
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class=navbar-nav>
                    <a class="navbar-brand" href="{{ url_for('draft.home') }}">DraftDraft</a>
                    <div>
                        <a href="{{ url_for('draft.home') }}" class="nav-link">
                            {{ current_user.username }} {% if current_user.is_admin %}(Admin){% endif %}
                        </a>
                    </div>
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('draft.home') }}" class="nav-link">
                                    Make Pick
                                </a>
                                <a href="{{ url_for('draft.view_draft') }}" class = "nav-link">
                                    View Draft
                                </a>
                                <a class="nav-link"href="{{ url_for('auth.logout') }}" class="navbar-item">
                                    Logout
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ url_for('auth.login') }}" class="navbar-item">
                                    Login
                                </a>
                                <a  class="nav-link" href="{{ url_for('auth.signup') }}" class="navbar-item">
                                    Sign Up
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="content">
            {% block content %} {% endblock %}
        </div>

    </body>
</html>
