<!-- This is really turning into the page to make picks. -->
<!-- inputs: players, pick_order, next_pick:Pick, player_queue -->
{% import 'components/draft_board.html' as draftBoard %}

{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/draft_page.css') }}">

{% endblock %}

{% block content %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ errors[0] }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- display None here then show in script. Search bar loading slowly so this maybe looks nicer? -->
<div id="draftPage" style="display: None"> 
    <!-- put this into a component -->
    <div id="draftOrder" class="draftContainer draftOrder">
        <h2>
            <a class="collapsibleTitle" data-bs-toggle="collapse" href="#pickOrder"  role="button" aria-expanded="true" aria-controls="pickOrder">
                Next Pick: {% if next_pick %}{{ next_pick.team_name }}{% else %}Draft order not set{% endif %}
            </a>
        </h2>
        <div id="pickOrder" class="table-responsive collapse show pickOrderTable">
            <table class="table table-bordered border-3">
                <tr>
                    <th>Order</th>
                    <th>Team</th>
                </tr>
                {% for pick in pick_order %}

                <tr class={{ "table-primary" if pick.pick_order == next_pick.pick_order}}>
                    <td>{{ pick.pick_order }}</td>
                    <td>{{ pick.team.team_name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="playerQueue" class="draftContainer playerQueue">
        <h2>
            <a class="collapsibleTitle" data-bs-toggle="collapse" href="#playerQueueContainer"  role="button" aria-expanded="true" aria-controls="playerQueueContainer">
                Your Queue
            </a>
        </h2>
        <div id="playerQueueContainer" class="collapse show playerQueueContainer">
            {{ draftBoard.draftBoard(playerQueue, "PLAYERQUEUE") }}
        </div>
    </div>

    <div id="draftboardContainer">
        <h2> Draftboard</h2>
        {{ draftBoard.draftBoard(players, "DRAFTBOARD") }}
    </div>
</div>

<script>
    $(document).ready(function(){
        $( '#draftPage').fadeIn('fast')
    })
</script>

{% endblock %}
