<!-- So this is really the `view_draft` page. should get around to renaming this -->
{% import 'components/team_scores.html' as team_scores %}
{% import 'components/draft_results.html' as draft_results %}

{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/draft.css') }}">
{% endblock %}

{% block content %}

        <!-- Draft Results-->
        {{ draft_results.draftResults(selections)}}

        <!-- Team by team view-->
        {{ team_scores.teamScores(teams) }}

{% endblock %}ll
