<!-- So this is really the `view_draft` page. should get around to renaming this -->
{% import 'components/team_scores.html' as team_scores %}
{% import 'components/pick_leaderboard.html' as leaderboard %}

{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/draft.css') }}">
{% endblock %}

{% block content %}
    <!-- The full draft board. can we make this a max height and then have a scrollbar? -->
    <h3 class="m-4">
        <a class="collapsibleTitle" data-bs-toggle="collapse" href="#draftDraftPicks"  role="button" aria-expanded="true" aria-controls="draftDraftPicks"> Draft draft picks
        </a>
    </h3>

    <div id="draftDraftPicks" class="collapse show">
        <table class='table table-bordered border-3'
            id={{ "draftResultsTable" }}
            data-filter-control="false"
            data-show-search-clear-button="false"
            data-show-columns="false"
            data-show-multi-sort="false"
            data-pagination="true"
            data-page-size="75"
            data-search="true"
            data-toolbar="#filteringContainer"
            data-sort-order="asc"
            data-sort-name="draftDraftPick"
        >
            <thead>
                <tr>
                    <th data-field="draftDraftPick" data-filter-control="input" data-sortable="true" scope="col">DraftDraft Pick</th>
                    <th data-field="team" data-filter-control="input" data-sortable="false" scope="col">Team</th>
                    <th data-field="player" data-filter-control="input" data-sortable="false" scope="col">Player</th>
                    <th data-field="college" data-filter-control="select" data-sortable="false" scope="col">College</th>
                    <th data-field="position" data-filter-control="select" data-sortable="false" scope="col">Position</th>
                    <th data-field="nflPick" data-filter-control="input" data-sortable="false" scope="col">NFL Pick</th>
                </tr>
            </thead>

            <tbody>
                {% for selection in selections_desc %}
                    <tr class={{ "table-success" if selection.team.username == current_user.username }}>
                        <td>{{ selection.draftdraft_selection }}</td>
                        <td>{{ selection.team.username }}</td>
                        <td>{{ selection.player.player_name }}</td>
                        <td>{{ selection.player.college_team }}</td>
                        <td>{{ selection.player.position }}</td>
                        <td>{{ selection.player.nfl_draft_pick_formatted or '-' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr class="m-5">
    <h3 class="m-4"> Team by team results </h3>

    {{ team_scores.teamScores(teams, standings) }}

    <hr class="m-5">
    <h3 class="m-4"> Best/Worst selections </h3>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                {{ leaderboard.leaderBoard(best_selections, 'Best') }}
            </div>
            <div class="col-lg-6 mb-4">
                {{ leaderboard.leaderBoard(worst_selections, 'Worst') }}
            </div>
        </div>
    </div>


<script>
    $(document).ready(function(){
        $('#draftResultsTable').bootstrapTable();
    })

</script>

{% endblock %}
