<!-- So this is really the `view_draft` page. should get around to renaming this -->
{% import 'components/team_scores.html' as team_scores %}
{% import 'components/pick_leaderboard.html' as leaderboard %}

{% extends "base.html" %}

<!-- wonder if theres a better way to get stylesheets in. there must be. -->
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/draft.css') }}">
{% endblock %}

{% block content %}

{#    TODO: this automagically turns header tags as elements in the TOC. would rather explicitly add them.#}
{#          maybe use this instead? (https://getbootstrap.com/docs/5.0/components/scrollspy/#item-2)#}
{#          also make styig way better#}
    <div data-spy="scroll" data-target="#toc">
        <div class="container">
            <div class="row">
                <!-- sidebar, which will move to the top on a small screen -->
                <div class="col-sm-3">
                    <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
                </div>
                test <br>
                tes1 <br>


            </div>
        </div>
    </div>

{#    <div>#}
{#        <div class="row">#}
{#            <nav id="toc" data-toggle="toc" class="sticky-top"></nav>#}
{#        </div>#}
{#    </div>#}
    <!-- The full draft board. can we make this a max height and then have a scrollbar? -->
    <table class='table'>
        <tr>
            <th>Pick</th>
            <th>Team</th>
            <th>Player</th>
            <th>College</th>
            <th>Position</th>
        </tr>

        <h3 class="m-4"> Draft draft picks </h3>

        {% for selection in selections %}
            <tr style="padding: 10px; background-color: #EEE; margin: 20px">
                <td>{{ selection.draftdraft_selection }}</td>
                <td>{{ selection.team.username }}</td>
                <td>{{ selection.player.player_name }}</td>
                <td>{{ selection.player.college_team }}</td>
                <td>{{ selection.player.position }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr class="m-5">
    <h3 class="m-4"> Team by team results </h3>

    {{ team_scores.teamScores(teams, standings) }}

    <hr class="m-5">

    <h3 class="m-4"> Best/Worst selections </h3>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                {{ leaderboard.leaderBoard(best_selections, 'Best') }}
            </div>
            <div class="col-lg-6 mb-4">
                {{ leaderboard.leaderBoard(worst_selections, 'Worst') }}
            </div>
        </div>
    </div>

{% endblock %}ll
